@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@200;400;700&display=swap');

:root {
    --grid-border: 4px solid rgb(187, 187, 187);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Poppins, Arial, sans-serif;
}

h1 {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 0;
}

p {
    margin: 0;
}

#game-container {
    margin-top: 5vh;
}

#grid-container {
    display: grid;
    width: min(400px, 80vw);
    height: min(400px, 80vw);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 24px auto;
    /* filter: blur(5px); */
}

.grid-cell {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.o-sizer {
    font-size: 12rem;
}

.grid-hover:hover {
    background-color: rgb(220, 220, 220);
}

.grid-hover {
    z-index: 3;
}

.grid-over {
    display: none;
    position: absolute;
    pointer-events: none;
    color: rgb(151, 151, 151);
}

.grid-cell:hover .grid-over {
    display: inline-block;
}

.grid-winner {
    color: rgb(91, 136, 91);
    font-size: 15rem;
    transition: font-size 0.2s ease;
}

#cell-0, #cell-1, #cell-2, #cell-3, #cell-4, #cell-5 {
    border-bottom: var(--grid-border);
}

#cell-0, #cell-1, #cell-3, #cell-4, #cell-6, #cell-7 {
    border-right: var(--grid-border);
}

/* Player name entries */
#players-container {
    margin-top: 12px;
    height: 40px;
    display: flex;
}

.player {
    flex-grow: 1;
    display: flex;
}

.player-info {
    flex-grow: 1;
}

.player-score {
    width: 50px;
    padding-top: 4px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.player-divider {
    line-height: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.player-marker {
    font-size: 0.9rem;
}

.player-name {
    line-height: 0.8;
    font-size: 1.4rem;
    font-weight: 600;
}

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-one-info {
    text-align: right;
}